/* Existing styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.virtualheading{
    font-size: 2rem;
    font-weight: bolder;
    padding: 20px;
}
.singledropdown{
    margin-bottom: 20px;
    width: 100%;
    margin: auto;
    padding: 20px;
    font-size: 1rem;
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
    text-align: center;
}
.spantag{
    text-align: right;
}

.expandbutton{ 
    width: 100%; 
    text-align:left;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}
.expandbutton:active, .expandbutton.active {
    background-color: rgb(11,153,11);
    color: white;
    padding: 10px;
}
.totaldiv{
    background-color: rgb(152,223,152);
}

/* Responsive styles */
@media (min-width: 768px) {
    .singledropdown{
        width: 40vw;
        font-size: 1.2rem;
    }
    .expandbutton{
        font-size: 1.2rem;
    }
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    /* background-color: white; */
}

.dropdown-content.show {
    max-height: 100vh;
    /* background-color: darkgreen; */
}
