*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.cardsection{
    background-color: rgb(200 230 201) ;
}
.ourservice_card{
    position: relative;
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.ourservice_card:hover{
    height: 400px; 
    transition: 0.5s;
    box-shadow: 2px 2px 10px 5px rgb(122,211,139);
    background-color: rgb(255, 255, 255,0.5);
}
.imgbx{
    position: absolute;
    transition: 1s;
    height: 250px;
    width: 300px;
}
.ourservice_card:hover .imgbx{
    top:-100px;
    height: 200px;
    width: 250px;
    transition: 0.5s;
}
.para
{
    display: none;
}
.ourservice_card:hover .para{
    position: absolute;
    top: 140px;
    display: block;
    color: black;
    font-weight: 400;
}
@media (max-width: 768px){
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
}
